body {
  margin: 0;
  padding: 0;
  background-color: #040507;
}

.fundo {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5788690476190477) 21%, rgba(255, 255, 255, 0) 100%), url("../img/fundo.png");
  background-size: cover;   
  background-repeat: no-repeat;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;                
}

.titulo {
  color: #fff;                       
  font-family: 'Montserrat', Arial, sans-serif;  
  font-size: 4rem;                    
  font-weight: bold;                  
  text-shadow: 3px 2px 0 #8d38ea;     
  transform: rotate(-24deg);          
  letter-spacing: 1px;                
  position: absolute;                 
  top: 150px;                          
  left: 25%;                         
  z-index: 2;                         
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px 80px;     
  background-color: #fff;
  color: black;             
  font-weight: bold;
  border-radius: 12px;
  margin-top: 15px;
  border: 3px solid black;
  font-size: 1.8rem;       
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.06);               
  box-shadow: 0 4px 16px rgba(0,0,0,0.15); 
  background-color: black;            
  cursor: pointer;
  color: #fff;
  border: 3px solid #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;;
}
